<h2>Domain Setup</h2>

<p>The canvas reflects the map window canvas and will be updated with added/removed layers, changed visibility, and styling.</p>

<ul>
<li><img src="${plugin_folder}/icons/mActionToggleEditing.svg" alt="reduce-decimal" width="24" align="middle"/> - Toggle on to start drawing or to edit an already drawn domain.<br></li>
<li><img src="${plugin_folder}/icons/mActionDeleteSelectedFeatures.svg" alt="reduce-decimal" width="24" align="middle"/> - Clear the drawn domain.<br></li>
<li><img src="${plugin_folder}/icons/mActionZoomFullExtent.svg" alt="reduce-decimal" width="24" align="middle"/> - Zoom canvas to full extent.<br></li>
<li><img src="${plugin_folder}/icons/mActionRectangleExtent.svg" alt="reduce-decimal" width="24" align="middle"/> - Create a domain based on the extent of a given layer. Input angle will be retained.<br></li>
<li><img src="${plugin_folder}/icons/reduce-decimal-places-svgrepo-com.svg" alt="reduce-decimal" width="24" align="middle"/> - Rounds the domain values (does not round the angle)<br></li>
<li><img src="${plugin_folder}/icons/mActionEditCopy.svg" alt="reduce-decimal" width="24" align="middle"/> - Create and copy domain TUFLOW commands to the clipboard.<br></li>
</ul>
